# Environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# TypeScript
